## Single page Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all the doctors info on page 292.
- Export the content into a CSV file called ```page_292.csv```.

In [1]:
# conda update numexpr

In [2]:
## IMPORT LIBRARIES

import requests
from bs4 import BeautifulSoup 
import pandas as pd
from random import randrange
import time
from io import StringIO ## since last week, looks like something got updateda now need this.

In [3]:
## TARGET page 292
pageurl = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action?d-49653-p=292"

In [4]:
## request url and store in page
## check status code
response = requests.get(pageurl)
response.status_code

200

Note the use of ```StringIO```. If you don't use it, your code will still work as i showed you last week, but you might get a futurewarning.  I provide an updated solution is in the next cell.

We can discuss in class on monday but generally using a ```StringIO object``` makes it clear that the data is coming from a string rather than a file or URL, which could help prevent confusion or bugs in some cases.

In [5]:
## scrape table from page 292 using Pandas
## NOTE the StringIO
df_list = pd.read_html(StringIO(response.text))
df_list

[                                  Physician Last Name  \
 0                                            Birdsong
 1                                                 Lew
 2                                                 Han
 3                                       Chandrasekhar
 4                                               Etkin
 5                                        Care Medical
 6                                              Lawler
 7                                          Hartwright
 8                                               Kamau
 9                                               Peets
 10                                            Swersky
 11                                             Norman
 12                                            Jackson
 13                                            Bezabeh
 14                                            Feldman
 15                                              Waugh
 16                                         McClintock
 17                                               Juan
 18                                             Hartin
 19                                             Kubski
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Edward                     M
 1                                                Mark               Bernard
 2                                                 Amy              Ching-Yu
 3                                        Subramaniyam                   NaN
 4                                             Richard                     H
 5                                                P.C.                   NaN
 6                                                Paul                     J
 7                                                Alva                 James
 8                                                Pius                  Karu
 9                                               Shara                   Kay
 10                                             Steven                   NaN
 11                                             Dianna                     L
 12                                              Oscar                     F
 13                                            Tsedaye                   NaN
 14                                             Jerome                     H
 15                                             Martin                  Earl
 16                                               John                     S
 17                                             Felipe               Tanseco
 18                                            Richard                   NaN
 19                                             George                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

    License Number License Type Effective Date Date Updated  Year of Birth
 0          164669           DO     03/26/2003   03/27/2003         1948.0
 1          133922           MD     03/26/2003   03/26/2003         1948.0
 2          181069           MD     03/26/2003   03/26/2003         1962.0
 3          221873           MD     03/26/2003   03/26/2003         1957.0
 4          137524           MD     03/25/2003   03/26/2003         1944.0
 5            None          NaN     03/25/2003   03/26/2003            NaN
 6          000490           PA     03/26/2003   03/26/2003         1948.0
 7          204263           MD     03/21/2003   03/21/2003         1939.0
 8          140387           MD     03/21/2003   03/21/2003         1941.0
 9          127942           MD     03/13/2003   03/14/2003         1945.0
 10         146497           MD     03/13/2003   03/14/2003         1951.0
 11         153061           MD     03/13/2003   03/14/2003         1952.0
 12         140325           MD     03/19/2003   03/14/2003         1950.0
 13         210226           MD     03/18/2003   03/12/2003         1962.0
 14         143900           MD     03/17/2003   03/12/2003         1941.0
 15         176768           DO     04/16/2003   03/12/2003         1960.0
 16         182856           MD     03/17/2003   03/12/2003         1961.0
 17         115611           MD     03/18/2003   03/12/2003         1941.0
 18         148582           MD     03/07/2003   03/07/2003         1952.0
 19         130034           MD     03/07/2003   03/07/2003         1947.0
 20            NaN          NaN            NaN          NaN            NaN
 21            NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0             Birdsong               Edward                     M
 1                  Lew                 Mark               Bernard
 2                  Han                  Amy              Ching-Yu
 3        Chandrasekhar         Subramaniyam                   NaN
 4                Etkin              Richard                     H
 5         Care Medical                 P.C.                   NaN
 6               Lawler                 Paul                     J
 7           Hartwright                 Alva                 James
 8                Kamau                 Pius                  Karu
 9                Peets                Shara                   Kay
 10             Swersky               Steven                   NaN
 11              Norman               Dianna                     L
 12             Jackson                Oscar                     F
 13             Bezabeh              Tsedaye                   NaN
 14             Feldman               Jerome                     H
 15               Waugh               Martin                  Earl
 16          McClintock                 John                     S
 17                Juan               Felipe               Tanseco
 18              Hartin              Richard                   NaN
 19              Kubski               George                   NaN

    License Number License Type Effective Date Date Updated  Year of Birth
 0          164669           DO     03/26/2003   03/27/2003         1948.0
 1          133922           MD     03/26/2003   03/26/2003         1948.0
 2          181069           MD     03/26/2003   03/26/2003         1962.0
 3          221873           MD     03/26/2003   03/26/2003         1957.0
 4          137524           MD     03/25/2003   03/26/2003         1944.0
 5            None          NaN     03/25/2003   03/26/2003            NaN
 6          000490           PA     03/26/2003   03/26/2003         1948.0
 7          204263           MD     03/21/2003   03/21/2003         1939.0
 8          140387           MD     03/21/2003   03/21/2003         1941.0
 9          127942           MD     03/13/2003   03/14/2003         1945.0
 10         146497           MD     03/13/2003   03/14/2003         1951.0
 11         153061           MD     03/13/2003   03/14/2003         1952.0
 12         140325           MD     03/19/2003   03/14/2003         1950.0
 13         210226           MD     03/18/2003   03/12/2003         1962.0
 14         143900           MD     03/17/2003   03/12/2003         1941.0
 15         176768           DO     04/16/2003   03/12/2003         1960.0
 16         182856           MD     03/17/2003   03/12/2003         1961.0
 17         115611           MD     03/18/2003   03/12/2003         1941.0
 18         148582           MD     03/07/2003   03/07/2003         1952.0
 19         130034           MD     03/07/2003   03/07/2003         1947.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [6]:
## scrape table from page 292 using Pandas
df_list = pd.read_html(StringIO(response.text))
df_list

[                                  Physician Last Name  \
 0                                            Birdsong
 1                                                 Lew
 2                                                 Han
 3                                       Chandrasekhar
 4                                               Etkin
 5                                        Care Medical
 6                                              Lawler
 7                                          Hartwright
 8                                               Kamau
 9                                               Peets
 10                                            Swersky
 11                                             Norman
 12                                            Jackson
 13                                            Bezabeh
 14                                            Feldman
 15                                              Waugh
 16                                         McClintock
 17                                               Juan
 18                                             Hartin
 19                                             Kubski
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Edward                     M
 1                                                Mark               Bernard
 2                                                 Amy              Ching-Yu
 3                                        Subramaniyam                   NaN
 4                                             Richard                     H
 5                                                P.C.                   NaN
 6                                                Paul                     J
 7                                                Alva                 James
 8                                                Pius                  Karu
 9                                               Shara                   Kay
 10                                             Steven                   NaN
 11                                             Dianna                     L
 12                                              Oscar                     F
 13                                            Tsedaye                   NaN
 14                                             Jerome                     H
 15                                             Martin                  Earl
 16                                               John                     S
 17                                             Felipe               Tanseco
 18                                            Richard                   NaN
 19                                             George                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

    License Number License Type Effective Date Date Updated  Year of Birth
 0          164669           DO     03/26/2003   03/27/2003         1948.0
 1          133922           MD     03/26/2003   03/26/2003         1948.0
 2          181069           MD     03/26/2003   03/26/2003         1962.0
 3          221873           MD     03/26/2003   03/26/2003         1957.0
 4          137524           MD     03/25/2003   03/26/2003         1944.0
 5            None          NaN     03/25/2003   03/26/2003            NaN
 6          000490           PA     03/26/2003   03/26/2003         1948.0
 7          204263           MD     03/21/2003   03/21/2003         1939.0
 8          140387           MD     03/21/2003   03/21/2003         1941.0
 9          127942           MD     03/13/2003   03/14/2003         1945.0
 10         146497           MD     03/13/2003   03/14/2003         1951.0
 11         153061           MD     03/13/2003   03/14/2003         1952.0
 12         140325           MD     03/19/2003   03/14/2003         1950.0
 13         210226           MD     03/18/2003   03/12/2003         1962.0
 14         143900           MD     03/17/2003   03/12/2003         1941.0
 15         176768           DO     04/16/2003   03/12/2003         1960.0
 16         182856           MD     03/17/2003   03/12/2003         1961.0
 17         115611           MD     03/18/2003   03/12/2003         1941.0
 18         148582           MD     03/07/2003   03/07/2003         1952.0
 19         130034           MD     03/07/2003   03/07/2003         1947.0
 20            NaN          NaN            NaN          NaN            NaN
 21            NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0             Birdsong               Edward                     M
 1                  Lew                 Mark               Bernard
 2                  Han                  Amy              Ching-Yu
 3        Chandrasekhar         Subramaniyam                   NaN
 4                Etkin              Richard                     H
 5         Care Medical                 P.C.                   NaN
 6               Lawler                 Paul                     J
 7           Hartwright                 Alva                 James
 8                Kamau                 Pius                  Karu
 9                Peets                Shara                   Kay
 10             Swersky               Steven                   NaN
 11              Norman               Dianna                     L
 12             Jackson                Oscar                     F
 13             Bezabeh              Tsedaye                   NaN
 14             Feldman               Jerome                     H
 15               Waugh               Martin                  Earl
 16          McClintock                 John                     S
 17                Juan               Felipe               Tanseco
 18              Hartin              Richard                   NaN
 19              Kubski               George                   NaN

    License Number License Type Effective Date Date Updated  Year of Birth
 0          164669           DO     03/26/2003   03/27/2003         1948.0
 1          133922           MD     03/26/2003   03/26/2003         1948.0
 2          181069           MD     03/26/2003   03/26/2003         1962.0
 3          221873           MD     03/26/2003   03/26/2003         1957.0
 4          137524           MD     03/25/2003   03/26/2003         1944.0
 5            None          NaN     03/25/2003   03/26/2003            NaN
 6          000490           PA     03/26/2003   03/26/2003         1948.0
 7          204263           MD     03/21/2003   03/21/2003         1939.0
 8          140387           MD     03/21/2003   03/21/2003         1941.0
 9          127942           MD     03/13/2003   03/14/2003         1945.0
 10         146497           MD     03/13/2003   03/14/2003         1951.0
 11         153061           MD     03/13/2003   03/14/2003         1952.0
 12         140325           MD     03/19/2003   03/14/2003         1950.0
 13         210226           MD     03/18/2003   03/12/2003         1962.0
 14         143900           MD     03/17/2003   03/12/2003         1941.0
 15         176768           DO     04/16/2003   03/12/2003         1960.0
 16         182856           MD     03/17/2003   03/12/2003         1961.0
 17         115611           MD     03/18/2003   03/12/2003         1941.0
 18         148582           MD     03/07/2003   03/07/2003         1952.0
 19         130034           MD     03/07/2003   03/07/2003         1947.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [7]:
## Slice off the correct table.
## Notice the difference between [0] and [1]
## df_list[0] is close but notice index 20 and 21 have some non-essential info
df = df_list[1]
df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Birdsong,Edward,M,164669,DO,03/26/2003,03/27/2003,1948.0
1,Lew,Mark,Bernard,133922,MD,03/26/2003,03/26/2003,1948.0
2,Han,Amy,Ching-Yu,181069,MD,03/26/2003,03/26/2003,1962.0
3,Chandrasekhar,Subramaniyam,NaN,221873,MD,03/26/2003,03/26/2003,1957.0
4,Etkin,Richard,H,137524,MD,03/25/2003,03/26/2003,1944.0
5,Care Medical,P.C.,NaN,None,NaN,03/25/2003,03/26/2003,NaN
6,Lawler,Paul,J,000490,PA,03/26/2003,03/26/2003,1948.0
7,Hartwright,Alva,James,204263,MD,03/21/2003,03/21/2003,1939.0
8,Kamau,Pius,Karu,140387,MD,03/21/2003,03/21/2003,1941.0
9,Peets,Shara,Kay,127942,MD,03/13/2003,03/14/2003,1945.0
10,Swersky,Steven,NaN,146497,MD,03/13/2003,03/14/2003,1951.0
11,Norman,Dianna,L,153061,MD,03/13/2003,03/14/2003,1952.0
12,Jackson,Oscar,F,140325,MD,03/19/2003,03/14/2003,1950.0
13,Bezabeh,Tsedaye,NaN,210226,MD,03/18/2003,03/12/2003,1962.0
14,Feldman,Jerome,H,143900,MD,03/17/2003,03/12/2003,1941.0
15,Waugh,Martin,Earl,176768,DO,04/16/2003,03/12/2003,1960.0
16,McClintock,John,S,182856,MD,03/17/2003,03/12/2003,1961.0
17,Juan,Felipe,Tanseco,115611,MD,03/18/2003,03/12/2003,1941.0
18,Hartin,Richard,NaN,148582,MD,03/07/2003,03/07/2003,1952.0
19,Kubski,George,NaN,130034,MD,03/07/2003,03/07/2003,1947.0

In [8]:
## export to csv
df.to_csv("page_292.csv", encoding = "UTF-8", index = False)

## Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "P".
- Export the content into a CSV file called ```md_P.csv```.

In [9]:
## figure URL to scrape and
## test out a single
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=1"
response = requests.get(url)
response.status_code

200

In [10]:
## scrape table from page using Pandas
df_list = pd.read_html(StringIO(response.text))
df_list

[                                  Physician Last Name  \
 0                                                Paal
 1                                                Pace
 2                                                Pace
 3                                             Pacetti
 4                                              Pachas
 5                                             Pacheco
 6                                               Pacik
 7                                               Pacis
 8                                                Pack
 9                                        Packianathan
 10                                       Packianathan
 11                                              Padeh
 12                                              Padeh
 13                                            Padilla
 14                                            Padilla
 15                                            Padilla
 16                                            Padnani
 17                                             Paduch
 18                                             Pagano
 19                                             Pagano
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                                Adam                   NaN
 1                                              Enrico                   NaN
 2                                             Leonard                   NaN
 3                                             Stephen                     J
 4                                              Hector                     M
 5                                               Denny                    J.
 6                                               Peter                   NaN
 7                                           Andresito                    B.
 8                                                   A               Stephen
 9                                            Emmanuel                   NaN
 10                                           Emmanuel                   NaN
 11                                              Asher                   NaN
 12                                              Asher                   NaN
 13                                          Crisologo                   NaN
 14                                              Maria             Lourdes B
 15                                              Maria                   NaN
 16                                              Koshi                   NaN
 17                                             Darius                  Adam
 18                                            Anthony                   NaN
 19                                             Dwight                     M
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

    License Number License Type Effective Date Date Updated  Year of Birth
 0            None           MD     10/30/2000          NaN         1961.0
 1          166026           MD     08/21/2001          NaN         1956.0
 2          172870           MD     01/15/2002   01/22/2002         1952.0
 3          175021           MD     04/14/2016   04/07/2016         1957.0
 4          095535           MD     02/11/1993          NaN            NaN
 5          258600           DO     08/27/2020   08/26/2020         1962.0
 6          096944           MD     11/15/2012   11/09/2012         1940.0
 7          125213           MD     10/22/2021   10/22/2021         1938.0
 8          183669           MD     04/28/2000   07/19/2001         1956.0
 9          203833           MD     07/31/2008   07/25/2008         1945.0
 10         203833           MD     07/15/2016   07/18/2016         1946.0
 11         108572           MD     04/18/1997          NaN            NaN
 12         108572           MD     07/10/1995          NaN            NaN
 13         109998           MD     10/08/2002   04/05/2011         1935.0
 14         148379           MD     09/13/2001   10/15/2001         1951.0
 15         191849           MD     04/20/2011   04/18/2011         1962.0
 16         159535           MD     05/19/1993   03/22/2004            NaN
 17         227386           MD     09/05/2023   08/29/2023         1967.0
 18         080588           MD     11/12/1997          NaN            NaN
 19         141105           MD     06/09/2004   06/04/2004         1952.0
 20            NaN          NaN            NaN          NaN            NaN
 21            NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                 Paal                 Adam                   NaN
 1                 Pace               Enrico                   NaN
 2                 Pace              Leonard                   NaN
 3              Pacetti              Stephen                     J
 4               Pachas               Hector                     M
 5              Pacheco                Denny                    J.
 6                Pacik                Peter                   NaN
 7                Pacis            Andresito                    B.
 8                 Pack                    A               Stephen
 9         Packianathan             Emmanuel                   NaN
 10        Packianathan             Emmanuel                   NaN
 11               Padeh                Asher                   NaN
 12               Padeh                Asher                   NaN
 13             Padilla            Crisologo                   NaN
 14             Padilla                Maria             Lourdes B
 15             Padilla                Maria                   NaN
 16             Padnani                Koshi                   NaN
 17              Paduch               Darius                  Adam
 18              Pagano              Anthony                   NaN
 19              Pagano               Dwight                     M

    License Number License Type Effective Date Date Updated  Year of Birth
 0            None           MD     10/30/2000          NaN         1961.0
 1          166026           MD     08/21/2001          NaN         1956.0
 2          172870           MD     01/15/2002   01/22/2002         1952.0
 3          175021           MD     04/14/2016   04/07/2016         1957.0
 4          095535           MD     02/11/1993          NaN            NaN
 5          258600           DO     08/27/2020   08/26/2020         1962.0
 6          096944           MD     11/15/2012   11/09/2012         1940.0
 7          125213           MD     10/22/2021   10/22/2021         1938.0
 8          183669           MD     04/28/2000   07/19/2001         1956.0
 9          203833           MD     07/31/2008   07/25/2008         1945.0
 10         203833           MD     07/15/2016   07/18/2016         1946.0
 11         108572           MD     04/18/1997          NaN            NaN
 12         108572           MD     07/10/1995          NaN            NaN
 13         109998           MD     10/08/2002   04/05/2011         1935.0
 14         148379           MD     09/13/2001   10/15/2001         1951.0
 15         191849           MD     04/20/2011   04/18/2011         1962.0
 16         159535           MD     05/19/1993   03/22/2004            NaN
 17         227386           MD     09/05/2023   08/29/2023         1967.0
 18         080588           MD     11/12/1997          NaN            NaN
 19         141105           MD     06/09/2004   06/04/2004         1952.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [11]:
## again, we need to target df_list[1] which does not contain that info
df_list[1]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,None,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,095535,MD,02/11/1993,NaN,NaN
5,Pacheco,Denny,J.,258600,DO,08/27/2020,08/26/2020,1962.0
6,Pacik,Peter,NaN,096944,MD,11/15/2012,11/09/2012,1940.0
7,Pacis,Andresito,B.,125213,MD,10/22/2021,10/22/2021,1938.0
8,Pack,A,Stephen,183669,MD,04/28/2000,07/19/2001,1956.0
9,Packianathan,Emmanuel,NaN,203833,MD,07/31/2008,07/25/2008,1945.0
10,Packianathan,Emmanuel,NaN,203833,MD,07/15/2016,07/18/2016,1946.0
11,Padeh,Asher,NaN,108572,MD,04/18/1997,NaN,NaN
12,Padeh,Asher,NaN,108572,MD,07/10/1995,NaN,NaN
13,Padilla,Crisologo,NaN,109998,MD,10/08/2002,04/05/2011,1935.0
14,Padilla,Maria,Lourdes B,148379,MD,09/13/2001,10/15/2001,1951.0
15,Padilla,Maria,NaN,191849,MD,04/20/2011,04/18/2011,1962.0
16,Padnani,Koshi,NaN,159535,MD,05/19/1993,03/22/2004,NaN
17,Paduch,Darius,Adam,227386,MD,09/05/2023,08/29/2023,1967.0
18,Pagano,Anthony,NaN,080588,MD,11/12/1997,NaN,NaN
19,Pagano,Dwight,M,141105,MD,06/09/2004,06/04/2004,1952.0

## Now gets scrape to iterate through all pages

In [12]:
## f-string base urls
base_url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p="

In [16]:
## Combined url timed nav with table scrape
counter = 1 ## counter to track
total_pages = 25 ## number of pages we want to scrape
df_all = [] ## list that will hold all the dataframes that are produced
for url_number in range(1,total_pages):
    print(f"Scraping link {counter} of {total_pages - 1}")
    counter+=1 ## increment counter
    link = f"{base_url}{url_number}"
    response = requests.get(link)
    if response.status_code == 200:
        print(f"got it...scraping page...{link}")
        df_list = pd.read_html(StringIO(response.text)) ## turn html table into a df using pandas
        df_all.append(df_list[1]) ## append table in index position 1 to a list
        ## let's not forget to snooze
        snooze = randrange(5,7)
        print(f"snoozing for {snooze} seconds before scraping next link.")
        time.sleep(snooze)

    else:
        print(f"oh no! {link} returned:", response.status_code)
        
df_all[0:3] ## show just a few items of our list

Scraping link 1 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=1
snoozing for 5 seconds before scraping next link.
Scraping link 2 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=2
snoozing for 5 seconds before scraping next link.
Scraping link 3 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=3
snoozing for 5 seconds before scraping next link.
Scraping link 4 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=4
snoozing for 5 seconds before scraping next link.
Scraping link 5 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=5
snoozing for 6 seconds before scraping next link.
Scraping link 6 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=6
snoozing for 5 seconds before scraping next link.
Scraping link 7 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=7
snoozing for 5 seconds before scraping next link.
Scraping link 8 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=8
snoozing for 6 seconds before scraping next link.
Scraping link 9 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=9
snoozing for 6 seconds before scraping next link.
Scraping link 10 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=10
snoozing for 5 seconds before scraping next link.
Scraping link 11 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=11
snoozing for 5 seconds before scraping next link.
Scraping link 12 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=12
snoozing for 6 seconds before scraping next link.
Scraping link 13 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=13
snoozing for 5 seconds before scraping next link.
Scraping link 14 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=14
snoozing for 5 seconds before scraping next link.
Scraping link 15 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=15
snoozing for 6 seconds before scraping next link.
Scraping link 16 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=16
snoozing for 6 seconds before scraping next link.
Scraping link 17 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=17
snoozing for 5 seconds before scraping next link.
Scraping link 18 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=18
snoozing for 6 seconds before scraping next link.
Scraping link 19 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=19
snoozing for 5 seconds before scraping next link.
Scraping link 20 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=20
snoozing for 6 seconds before scraping next link.
Scraping link 21 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=21
snoozing for 5 seconds before scraping next link.
Scraping link 22 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=22
snoozing for 6 seconds before scraping next link.
Scraping link 23 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=23
snoozing for 5 seconds before scraping next link.
Scraping link 24 of 24
got it...scraping page...https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=P&d-49653-p=24
snoozing for 6 seconds before scraping next link.

[   Physician Last Name Physician First Name Physician Middle Name  \
 0                 Paal                 Adam                   NaN
 1                 Pace               Enrico                   NaN
 2                 Pace              Leonard                   NaN
 3              Pacetti              Stephen                     J
 4               Pachas               Hector                     M
 5              Pacheco                Denny                    J.
 6                Pacik                Peter                   NaN
 7                Pacis            Andresito                    B.
 8                 Pack                    A               Stephen
 9         Packianathan             Emmanuel                   NaN
 10        Packianathan             Emmanuel                   NaN
 11               Padeh                Asher                   NaN
 12               Padeh                Asher                   NaN
 13             Padilla            Crisologo                   NaN
 14             Padilla                Maria             Lourdes B
 15             Padilla                Maria                   NaN
 16             Padnani                Koshi                   NaN
 17              Paduch               Darius                  Adam
 18              Pagano              Anthony                   NaN
 19              Pagano               Dwight                     M

    License Number License Type Effective Date Date Updated  Year of Birth
 0            None           MD     10/30/2000          NaN         1961.0
 1          166026           MD     08/21/2001          NaN         1956.0
 2          172870           MD     01/15/2002   01/22/2002         1952.0
 3          175021           MD     04/14/2016   04/07/2016         1957.0
 4          095535           MD     02/11/1993          NaN            NaN
 5          258600           DO     08/27/2020   08/26/2020         1962.0
 6          096944           MD     11/15/2012   11/09/2012         1940.0
 7          125213           MD     10/22/2021   10/22/2021         1938.0
 8          183669           MD     04/28/2000   07/19/2001         1956.0
 9          203833           MD     07/31/2008   07/25/2008         1945.0
 10         203833           MD     07/15/2016   07/18/2016         1946.0
 11         108572           MD     04/18/1997          NaN            NaN
 12         108572           MD     07/10/1995          NaN            NaN
 13         109998           MD     10/08/2002   04/05/2011         1935.0
 14         148379           MD     09/13/2001   10/15/2001         1951.0
 15         191849           MD     04/20/2011   04/18/2011         1962.0
 16         159535           MD     05/19/1993   03/22/2004            NaN
 17         227386           MD     09/05/2023   08/29/2023         1967.0
 18         080588           MD     11/12/1997          NaN            NaN
 19         141105           MD     06/09/2004   06/04/2004         1952.0  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                 Page                Ralph                     P
 1                 Page              Timothy                Edward
 2             Paggioli                 John                   NaN
 3           Pagliarulo                 Tony                   NaN
 4            Pagtakhan               Leonor                    S.
 5                Pahng                 Sung                  Jong
 6               Paiano                Frank                   NaN
 7                 Paik                Kwang                   Han
 8                 Paik                Young                     K
 9                 Paka               Renuka                   NaN
 10               Palao               Manuel                   NaN
 11              Palmer               Doreen                   NaN
 12              Palmer                Orrin                     W
 13             Palmeri              Michael                   NaN
 14             Palumbo              Anthony                   NaN
 15             Palumbo             Michelle                   NaN
 16            Pamplona              Michael                   NaN
 17                 Pan              Deborah                   NaN
 18                 Pan                Edwin                   NaN
 19             Panchal             Mahendra                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           148008           MD     10/11/2010   10/04/2010         1951.0
 1           178443           MD     12/26/2013   12/19/2013         1961.0
 2           184918           MD     12/02/2016   11/25/2016         1962.0
 3           190574           MD     05/31/2016   05/24/2016         1946.0
 4           121688           MD     02/09/2022   02/02/2022         1941.0
 5           188371           MD     12/20/2001   12/23/2001         1962.0
 6             1387           PA     04/24/1996          NaN            NaN
 7           152336           MD     05/11/2004   05/04/2004         1945.0
 8           130075           MD     05/20/2011   05/13/2011         1942.0
 9           186435           MD     12/02/2013   02/23/2017         1950.0
 10          176764           MD     01/02/1998          NaN            NaN
 11          134113           MD     01/07/1999          NaN         1949.0
 12          170957           MD     09/13/1995          NaN            NaN
 13          184155           MD     09/30/2016   09/23/2016         1963.0
 14          128709           MD     11/01/2016   10/25/2016         1937.0
 15          153316           MD     06/10/1992          NaN            NaN
 16            9633           PA     11/26/2015   11/23/2015         1981.0
 17          233852           MD     06/23/2010   06/16/2010         1971.0
 18          197978           MD     03/07/2011   04/09/2014         1964.0
 19          240302           MD     05/24/2023   06/14/2023         1956.0  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0            Panchamia             Sidharth                   NaN
 1             Pancholi               Yogesh                     B
 2               Pandhi               Hemant                   NaN
 3               Pandya                Anand                   NaN
 4               Panico               Thomas                Edward
 5               Panico               Thomas                Edward
 6               Panico               Thomas                Edward
 7                Panos               Spyros                     N
 8        Panten-Licker             Brigitte                   NaN
 9                Paolo               Victor                  John
 10                Papa                James                     A
 11        Papachristou               Marios                    D.
 12           Papadatos            Gerasimos                   NaN
 13               Papel              Leonard                   NaN
 14          Papiasvili             Avtandil                   NaN
 15           Pappachen              Stephen                    V.
 16             Parache                Felix                   NaN
 17             Paradis              Melinda                     L
 18             Paraiso                 Joel                     I
 19   Paramount Medical                 P.C.                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           241141           MD     05/04/2023   04/27/2023         1977.0
 1           219237           MD     03/04/2014   02/26/2014         1970.0
 2           183095           MD     10/09/2000          NaN         1947.0
 3           204191           MD     10/25/2021   10/22/2021         1968.0
 4           206386           MD     12/14/2009   12/21/2009         1969.0
 5           206386           MD     09/18/2013   09/11/2013         1969.0
 6           206386           MD     02/11/2020   02/04/2020         1969.0
 7           198547           MD     09/02/2013   08/26/2013         1968.0
 8           156899           MD     08/10/2016   08/11/2016         1943.0
 9           178177           MD     08/01/2011   07/25/2011         1949.0
 10           78662           MD     11/01/2002   10/30/2002         1930.0
 11          284720           MD     03/19/2019   03/20/2019         1974.0
 12          142263           MD     03/11/2011   03/04/2011         1944.0
 13           74646           DO     02/04/2005   01/28/2005         1928.0
 14          154318           MD     12/24/1997          NaN            NaN
 15          231057           MD     10/26/2021   10/19/2021         1971.0
 16            6202           PA     10/28/2010   10/21/2010         1974.0
 17          215743           MD     08/16/2013   08/19/2013         1968.0
 18          191123           MD     03/09/2015   03/02/2015         1957.0
 19          146381          NaN     08/28/2002   08/29/2002            NaN  ]

In [14]:
## convert to a single df rather than a list of df
df = pd.concat(df_all, ignore_index = True)
df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,None,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,095535,MD,02/11/1993,NaN,NaN
...,...,...,...,...,...,...,...,...
468,Puskas,John,Michael,120273,MD,10/06/2003,10/01/2003,1945.0
469,Putnam,Richard,C,76298,MD,12/11/1995,NaN,NaN
470,Putterman,Alan,P.,147981,DO,09/05/2023,08/29/2023,1954.0
471,Pynckel,Gary,NaN,176711,DO,12/30/2008,12/23/2008,1952.0
472,Pyram-Bernard,Nancy,NaN,219282,DO,09/09/2014,09/02/2014,1971.0

In [15]:
## export to csv
df.to_csv("md_P.csv", encoding = "UTF-8", index = False)