# Functions - Part 2

### Adding Flexibility

In [1]:
## RUN THIS CELL
## Each list of numbers has to be turned into absolute numbers 
mylist1 = [1, -5, 22, -44.2, 33, -45]
mylist2 = [-56, -34, -75, -111, -22]
mylist3 = [-100, -200, 100, -300, -100]
mylist4 = [-23, -89, -11, -45, -27]
mylist5 = [0, 1, 2, 3, 4, 5]

In [2]:
## Our function from last week to turn a number into an absolute value

def absNumbers(list_name):
    '''
    take list, return an updated list with absolute values
    '''
    return [abs(number) for number in list_name]

In [3]:
## test it here on a list
## and store in variable
updated1 = absNumbers(mylist1)
updated1

[1, 5, 22, 44.2, 33, 45]

In [4]:
## try using it on a single number like -10
## it will break

absNumbers(-10)

TypeError: 'int' object is not iterable

## Make a function more flexible and universal

* Currently, we have a function that takes ONLY a list as an argument.
* We'd have to write another one for a single number argument.

## Universalize our absolute numbers function

In [5]:
def make_abs(a_number):
    return abs(a_number)

In [6]:
## Try it on mylist3 - it will break!
make_abs(mylist2)

TypeError: bad operand type for abs(): 'list'

In [8]:
## A single number works
make_abs(-10)

10

## That's not flexible or universal.

Now our ```function``` can't take a list.

But we can use the ```map()``` function to tackle this problem.

```map()``` takes 2 arguments: a ```function``` and ```iterable like a list```.

In [11]:
mylist3

[-100, -200, 100, -300, -100]

In [10]:
## try it on make_abs and mylist3
list(map(make_abs, mylist3))

[100, 200, 100, 300, 100]

In [12]:
## save it into a list
mylist3_updated = list(map(make_abs, mylist3))
mylist3_updated

[100, 200, 100, 300, 100]

## ```map()``` also works for multiple iterables

In [13]:
## function to add 2 numbers:
def addNumbers(number1, number2):
    return (number1+number2)

In [14]:
## run this cell of two lists
a_even = [2, 4, 6, 8]
a_odd = [1, 3, 5, 7, 9] ## note this has one more item in the list.

In [16]:
## run map on a_even and a_odd
list(map(addNumbers, a_even, a_odd))

[3, 7, 11, 15]

## Functions that call other funcions

In [17]:
## let's create a function that returns the square of a number
def sq_me(number):
    return pow(number, 2)
#     return number **2
#     return number * number

In [18]:
## what is 9 squared?
sq_me(4)

16

### Making a point here with a simple example
Let's say we want to add 2 numbers together and then square that result.

Instead of writing one "complex" function, we can call on our modular functions.

In [19]:
## bloated function
def bloated(number1, number2):
    total = number1 + number2
    return pow(total, 2)

In [20]:
## a function that calls our modular functions
def mc_calc(number1, number2):
    return sq_me(addNumbers(number1, number2))

In [21]:
## call mc_calc() on 2 and 5
mc_calc(2, 5)

49